<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fa-solid fa-user-shield fa-6x"></i>
        <h1 class="title">Admin Page</h1>
      <div class="table1">
        <% if(locals.userTable) { %>
            <table class="userTable">
                <tr>
                    <th>User ID</th>
                    <th>User Email</th>
                    <th>User Role</th>
                </tr>
        <% userTable.forEach(user => { %>
                <tr>
                    <td><%= user.ID %></td>
                    <td><%= user.Alias %></td>
                    <td><%= user.Role %></td>
                    <td>
                      <form action="/delete" method="post">
                        <input type="hidden" name="userId" value="<%= user.ID %>">
                        <input type="hidden" name="currentUser" value="<%= myID %>">
                        <input type="submit" name="deleteUser" value="Delete User">
                    </form>
                    </td>
                </tr>
        <% }); %>
            </table>
      <% } %>
    </div>
    


    </div>
  </div>



<%- include('partials/footer') %>